body{
	background-color:#aa0eee;
}


h1{
		text-align: center;
		font-size: 30px;
		margin-bottom: 1px;
		    display: block;
    margin-block-start: .33em;
    margin-block-end: .33em;
    color: darkred;
    text-transform: uppercase;

	}

	h2{
		text-align: center;
		font-size: 28px;
		margin-bottom: 1px;
		    display: block;
    margin-block-start: .33em;
    margin-block-end: 2.33em;
    color: darkred;
    text-transform: uppercase;
}

h3{
		text-align: center;
		font-size: 26px;
		margin-bottom: 1px;
		    display: block;
    margin-block-start: .33em;
    margin-block-end: 2.33em;
    color: darkred;
    text-transform: uppercase;
}

h4{
		text-align: center;
		font-size: 26px;
		margin-bottom: 1px;
		    display: block;
    margin-block-start: .33em;
    margin-block-end: 2.33em;
    color: darkred;
    text-transform: uppercase;
}


	header li{
		list-style: none;
		}

		a:link , a:visited{
			margin-block-start: .22em;
			text-decoration: none;
			background-color: skyblue;
			color: blue;
			display: block;
			width: 200px;
			margin-bottom: 1px;
			border: 1.5px solid blue;
			
			text-align: center;
		}

		a:hover , a:active {
			background-color: lightpink;
			color: darkred;
		}

p{
	margin-top: 2.22em;
font-size: 20px;
font-style: inherit;
color: darkmagenta;
font-family: inherit;
text-transform: capitalize;

}


div{

font-size: 18px;
font-style: inherit;
color: darkgreen;
}


